<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><u>Mini Whatsapp</u></h1>

    <form method="post" action="/chats">
        <div>
            <div  >
                <input placeholder="who are you" name="from">
            </div><br>
            <div>
                <textarea placeholder="write your messege" name="msg"></textarea>
            </div><br>
            <div>
                <input placeholder="reciever name" name="to">
            </div><br>

            <button>Create chat</button>
        </div>

    </form>

</body>
</html>